<!DOCTYPE html>
<html lang="en">

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
    intent="WELCOME"
    chat-title="GC oracle"
    agent-id="9380f799-4568-48cb-8733-661f911b1e99"
    language-code="en"
></df-messenger>

<head>
    <meta charset="UTF-8">
    <title>Bot</title>

    <title>Student helpdesk - Demo</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <style>
        df-messenger {
            --df-messenger-bot-message: #878fac;
            --df-messenger-button-titlebar-color: #df9b56;
            --df-messenger-chat-background-color: #fafafa;
            --df-messenger-font-color: white;
            --df-messenger-send-icon: #3b4772;
            --df-messenger-user-message: #479b3d;
        }
    </style>

</head>
<body>
   <h1>Look at the right lower corner!</h1>
</body>
</html>