<!DOCTYPE html>
<html lang="en">

<script src="kala.js"></script>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

<df-messenger
    intent="WELCOME"
    chat-title="test_bot"
    agent-id="ada052ee-cba3-4ecc-9188-4bdb96baa52e"
    language-code="en"

    dfMessenger.addEventListener('df-list-element-clicked', function (event) {
        // Handle event
        console.log("df-list-element-clicked:" + JSON.stringify(event));
        
    });

    const dfMessenger = document.querySelector('df-messenger');
    dfMessenger.addEventListener('event-type', function (event) {
        console.log("df-list-element-clicked:" + JSON.stringify(event));
    });

    const dfMessenger = document.querySelector('df-messenger')
         dfMessenger.addEventListener('df-response-received', function (event) {
             console.log(event)
             // how to send the new parameters?
         })


></df-messenger>


<df-messenger

    const dfMessenger = document.querySelector('df-messenger');
    dfMessenger.addEventListener('event-type', function (event) {
        console.log("df-list-element-clicked:" + JSON.stringify(event));
    });

    const dfMessenger = document.querySelector('df-messenger')
         dfMessenger.addEventListener('df-response-received', function (event) {
             console.log(event)
             // how to send the new parameters?
         })


></df-messenger>


<head>
    <meta charset="UTF-8">
    <title>Bot</title>

    <title>Zenben</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">

</head>
<body>
   <h1>Look at the right lower corner!</h1>

   <button id="btn">Click here!</button>
    <p id="funcOutput"></p>
    <p id="handleEvtOutput"></p>

    <button id="myBtn">Try it</button>

    <p id="demo">

    <script>
    document.getElementById("myBtn").addEventListener("click", myFunction);

    function myFunction() {
    document.getElementById("demo").innerHTML = "Hello World";
    }
    </script>

    <p id="p"></p>
    <p id="p1"></p>
    <p id="p2"></p>
    <p id="demo"></p>

    <script>
        const dfMessenger = document.querySelector('df-messenger')
        dfMessenger.addEventListener('df-response-received', function (event) {

            var br = document.createElement("br");

            var paragraph = document.getElementById("p");
            var text = document.createTextNode(JSON.stringify(event.detail.response.queryResult.fulfillmentText));
            paragraph.appendChild(text);
            paragraph.appendChild(br);
         })

         dfMessenger.addEventListener('df-button-clicked', function (event) {


            var paragraph2 = document.getElementById("p1");
            var text2 = document.createTextNode(JSON.stringify(event.detail.element.link_));
            paragraph2.appendChild(text2);

            var img1 = document.createElement("img");

            var link_moon = JSON.stringify(event.detail.element.link_)

            // img1.src = "https://storage.cloud.google.com/test_data_31122021/ASE2016LucPerrot.jpg"

            img1.src = link_moon.replace(/['"]+/g, '')

            document.getElementById("p2").appendChild(img1);

            const obj = document.createTextNode(JSON.stringify(event.detail.element));
            document.getElementById("demo").appendChild(obj);



         })

    </script>



    <!-- <link href="https://storage.cloud.google.com/test_data_31122021/ASE2016LucPerrot.jpg"> -->

    <!-- <img src="https://storage.cloud.google.com/test_data_31122021/ASE2016LucPerrot.jpg" alt="Italian Trulli"> -->




</body>
</html>